#binaries
/bin

#stuff needed for docker image build
/image-context

#terraform init
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*

# temp credentials
*tf-ssh*
*ansible-hosts*

# kubeconfig for dev cluster
*kubeconfig-public.yaml*
